name: Deploy
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'server/**'
      - 'web/**'
      - 'infra/**'
      - '.github/workflows/**'
jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASS }}
      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./server
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/nxt-helder/server:latest
      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./web
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/nxt-helder/web:latest
